---
layout: default
---

<aside class="sidebar">
  <header>
    <div class="about">
      <div class="cover-author-image">
        <a href="{{site.baseurl}}/"><img src="{{site.baseurl}}/assets/img/{% if site.author-img %}{{site.author-img}}{% endif %}" alt="{{site.author}}"></a>
      </div>
      <div class="author-name">{{site.author}}</div>
      <a href="{{site.baseurl}}/tags" class="tag">{{site.about-author}}</a>
    </div>

    <div class="toc-container" id="toc-container">
      {% include toc.html html=content h_min=1 h_max=2 ordered=false %}
    </div>



  </header> <!-- End Header -->


  <footer>
    <section class="contact">
      {% if site.niubility %}
      <h3 class="contact-title">Niubility Links</h3>
      <ul>
        {% for niubi in site.niubility %}
        <li><a href="{{ niubi.href }}" target="_blank">{{ niubi.name }}</a></li>
        {% endfor %}
      </ul>
      {% else %}

      {% endif %}

      <h3 class="contact-title">Contact Me</h3>
      <ul>

        {% if site.social-facebook %}
        <li><a href="https://facebook.com/{{ site.social-facebook }}" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
        {% else %}
        <li></li>
        {% endif %}

        {% if site.social-github %}
        <li class="github"><a href="http://github.com/{{site.social-github}}" target="_blank"><i class="fa fa-github"></i></a></li>
        {% else %}
        <li></li>
        {% endif %}

        {% if site.social-email %}
        <li class="email"><a href="mailto:ymknkcs@163.com"><i class="fa fa-envelope-o"></i></a></li>
        {% else %}
        <li></li>
        {% endif %}

        {% if site.social-linkedin %}
        <li class="linkedin"><a href="https://in.linkedin.com/in/{{site.social-linkedin}}" target="_blank"><i class="fa fa-linkedin"></i></a></li>
        {% else %}
        <li></li>
        {% endif %}

      </ul>
    </section> <!-- End Section Contact -->
    <div class="copyright">
      <p>津ICP备17010627号</p>
      <p>{{site.time | date: '%Y'}} &copy; {{site.author}}</p>
    </div>
  </footer> <!-- End Footer -->
</aside> <!-- End Sidebar -->
<div class="content-box clearfix">
  {{ content }}
</div>

<script type="text/javascript">
  var as = document.getElementById('toc-container').getElementsByTagName('a');
  for (var i = 0; i < as.length; i++)
    if (as[i].href.indexOf(s) != -1) {
      as[i].onclick = function() {
        as[i].className = 'clickname';
      }
    }

  <!--
  function tocClick(value) {

    console.info(value);

    var as = document.getElementById('toc-container').getElementsByTagName('a'),
      find = false;

    for (var i = 0; i < as.length; i++) {
      as[i].className = "";
    }
    s = location.href; //得到网页
    for (var i = 0; i < as.length; i++)
      if (as[i].href.indexOf(s) != -1) {
        as[i].className = 'clickname';
        find = true;
        break;
      }
    //如果找不到参数，设置默认为首页
    if (!find) as[1].className = 'clickname';
  } -->
</script>
